{% extends "base.html" %}

{% load staticfiles %}

{% block base_body %}
  <h1>{{ character }}</h1>

  <div class="row">
    <div class="small-6 medium-6 large-6 column">
      <p><b>Class:</b> {{ character.character_class }}</p>
      <p><b>Race:</b> {{ character.race }}</p>
    </div>
    <div class="small-6 medium-6 large-6 column">
      {% if character.region %}
        <p><b>Region:</b> <a href="#" title="{{ character.region }}">{{ character.region }}</a></p>
      {% endif %}
      {% if character.place %}
        <p><b>Place:</b> {{ character.place }}</p>
      {% endif %}
      {% if character.building %}
        <p><b>Building:</b> {{ character.building }}</p>
      {% endif %}
    </div>
  </div>

  <h2>Stats</h2>
  <div class="row">
    <div class="small-6 medium-6 large-6 column">
      <p>Strength: {{ character.strength }}</p>
      <p>Stamina: {{ character.stamina }}</p>
      <p>Speed: {{ character.speed }}</p>
      <p>Agility: {{ character.agility }}</p>
      <p>Toughness: {{ character.toughness }}</p>
      <p>Constitution: {{ character.constitution }}</p>
      <p>Beauty: {{ character.beauty }}</p>
    </div>
    <div class="small-6 medium-6 large-6 column">
      <p>Intelligence: {{ character.intelligence }}</p>
      <p>Logic: {{ character.logic }}</p>
      <p>Teaching: {{ character.teaching }}</p>
      <p>Intuition: {{ character.intuition }}</p>
      <p>Charisma: {{ character.charisma }}</p>
      <p>Leadership: {{ character.leadership }}</p>
    </div>
  </div>

  <h2>Combat</h2>
  <div class="row">
    <div class="small-6 medium-6 large-6 column">
      <p>Attack</p>
      <p>Defense</p>
    </div>
    <div class="small-6 medium-6 large-6 column">
      <p>Damage</p>
      <p>Resistance</p>
    </div>
  </div>

  <h2>Appearance</h2>
  <p>height: {{ character.height }}</p>
  <p>weight: {{ character.weight }}</p>
  <p>color: {{ character.color }}</p>
  <p>description: {{ character.description }}</p>
  <p>gold: {{ character.gold }}</p>

{% endblock base_body %}
