<!DOCTYPE html>
<html>
    <head>
        <title>Fantasy World Codex - Registration</title>
    </head>

    <body>
        <h1>Register with Fantasy World Codex!</h1>

        {% if registered %}
        FWC says: <strong>thank you for registering!</strong>
        <a href="/pages/">Return to the homepage.</a><br />
        {% else %}
        FWC says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/pages/register/">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            <!-- {{ user_form.as_p }} -->

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>
