{% load fwc_extras %}
<!DOCTYPE html>
{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock meta %}
    {% block base_title %}
    <title>Fantasy World Codex - {% block title %}A free opensource fantasy roleplaying world builder{% endblock %}</title>
    {% endblock base_title %}

    {# Base Foundation CSS #}
    {% block foundation_css %}
    <link href="{% static "foundation/css/normalize.css" %}" rel="stylesheet"/>
    <link href="{% static "foundation/css/foundation.min.css" %}" rel="stylesheet"/>
    {% endblock foundation_css %}

    {# Custom CSS #}
    {% block css %}
      <link rel="stylesheet" href="{% static "css/fwc.css" %}">
    {% endblock css %}

    {# Override if you need another version of modernizr #}
    {% block foundation_modernizer %}
    <script src="{% static "foundation/js/vendor/modernizr.js" %}"></script>
    {% endblock foundation_modernizer %}

    {# Custom head JS #}
    {% block head_js %}{% endblock head_js %}
</head>
<body {% block body_attr %}{% endblock body_attr %}>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="{% url 'pages:index' %}">Fantasy World Codex</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        {% if user.is_authenticated %}
          <li class="has-dropdown">
            <a href="#">Add</a>
            <ul class="dropdown">
                <li><a href="{% url 'pages:add_region' %}">Add a New Region</a></li>
                <li><a href="{% url 'pages:add_place' %}">Add a New Place</a></li>
            </ul>
          </li>
          <li><a href="{% url 'auth_logout' %}?next=/pages/">Logout</a></li>
        {% else %}
          <li><a href="{% url 'registration_register' %}">Register</a></li>
          <li><a href="{% url 'auth_login' %}">Login</a></li>
        {% endif %}
      </ul>
    </section>
  </nav>
  {# Main content goes here #}
  <div class="row">
    <div class="large-9 push-3 columns">
      <article>
        {% block base_body %}{% endblock base_body %}
      </article>
    </div>

    <div class="large-3 pull-9 columns">
      <aside>
        {% block side_body %}
          {% if place.id %}
            {% get_other_places_list place.id %}
          {% endif %}
        {% endblock %}
      </aside>
    </div>
  </div>


  {# Override if you need another version of jQuery #}
  {% block foundation_jquery %}
  <script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
  {% endblock foundation_jquery %}

  {# Foundation JS #}
  {% block foundation_js %}
  <script src="{% static "foundation/js/foundation.min.js" %}"></script>
  {% endblock foundation_js %}

  {# Custom JS #}
  {% block body_js %}{% endblock body_js %}

  {# Init Foundation #}
  {% block foundation_js_init %}
  <script>
      $(document).foundation();
  </script>
  {% endblock foundation_js_init %}
</body>
</html>
